li.sidebar-list__item(ui-sref="property.task({taskId: vm.task.task_id})" ui-sref-active='is-active is-gray')
	.sidebar-list__center
		span.sidebar-list__item__indicator
			svg(ng-if="vm.showDismiss" viewbox='0 0 100 100')
				use(xlink:href='#icon_checkmark')
		span.sidebar-list__item__overflow-container {{ vm.task.name }}
		small(ng-if="!vm.showDismiss"): em.sidebar-small(ng-hide='vm.hideQuickStatus') {{ vm.task.quick_status }}
		small(ng-if="vm.showDismiss"): em.sidebar-small() Approved By {{ vm.task.by.first_name }}
	
	.is-right(ng-if="vm.showDismiss" ng-click='vm.dismissTask($event)')
		svg(viewbox='0 0 100 100')
			use(xlink:href='#icon_x')
	
	.alert-circle.is-purple(ng-if="vm.showAlert && (vm.newEvents > 0)"): span.center {{ vm.newEvents }}