nav.navbar.navbar-default.navbar-static-top(style="text-align: center;")
	div.container-fluid
		div.navbar-header
			a.navbar-brand {{ vm.project.name }}

div.container-fluid
	div.row
		div.col-md-10.col-md-offset-1
			h4(style='text-align: center;') {{ vm.milestone.name }}
			p(style='text-align: center;') {{ vm.milestone.target_date | date: 'shortDate' }}
			div.list-group
				button.list-group-item(ng-repeat='task in vm.milestone.tasks track by task.task_id' ng-click='vm.goToTask(task)')
					span.glyphicon.glyphicon-unchecked(style='margin-right: 1.5rem;')
					| {{ task.name }}
					span.glyphicon.glyphicon-file(style='float: right; margin-left: 1.5rem;')
							
