.row
	position: relative
	cf()

.container
	position relative
	center(64rem)
	position: relative
	// +below(1260px)
	// 	padding 0 px(4rem)
	+below(768px)
		padding 0 px(20rem)
		
.show-small
	display none
	+below(768px)
		diplay block