.task__row
	h6.h6 {{ vm.field.name }}
		span.text-blue *
	p: small Form 1099-MISC
	p: small Instructions for Form 1099-MISC (HTML)
	p: small General Instructions for Certain Information Returns (Forms 1097, 1098, 1099, 3921, 3922, 5498, and W-2G)

	.spacer.half
	file-box(files='vm.field.files' 
		allow-multiple='vm.field.type == "MULTIPLE_FILE"' 
		on-file-selected='vm.uploadFile($files)'
		on-file-replaced='vm.replaceFile($prevFile, $newFile)')