.task__row
	h6.h6 {{ vm.field.name }}
		span(ng-if='vm.field.description' ng-click='vm.showDescription = !vm.showDescription').text-blue *
	p(ng-show='vm.field.description && vm.showDescription'): small {{ vm.field.description }}

	.spacer.half
	file-box(files='vm.field.files' 
		allow-multiple='vm.field.type == "MULTIPLE_FILE"' 
		on-file-selected='vm.uploadFile($files)'
		on-file-replaced='vm.replaceFile($prevFile, $newFile)')