nav.navbar.navbar-default.navbar-static-top(style="text-align: center;")
	div.container-fluid
		div.navbar-header
			a.navbar-brand

div.container-fluid
	div.row
		div.col-md-10.col-md-offset-1
			h4(style='text-align: center;') {{ vm.task.name }}
			p(style='text-align: center;') {{ vm.task.description}}
			div(style='display: flex; justify-content: space-around; flex-direction: column;')
				div(ng-repeat="field in vm.task.fields track by field.field_id")
					div.drop-box(ngf-change="vm.fileDropped($files, $file, $event, $rejectedFiles, field)" ngf-select ngf-drop ng-model="field._files" ngf-drag-over-class="dragover" ngf-multiple="field.type == 'MULTIPLE_FILE'" ngf-allow-dir="true" ngf-accept="'image/*,application/pdf'")
						p(ng-if="field.type == 'MULTIPLE_FILE'") Drop Images or PDFs files here
						p(ng-if="field.type == 'SINGLE_FILE'") Drop Image or PDF file here


