.home
	color red

.scrollit
	overflow-y scroll
	height 500px

.error-message
	color red
	
.flex-row
	display flex
	justify-content space-between
	align-items center
	margin-top 1rem
	background-color lightgray