aside.main-sidebar
	img.logo(src="svg/background-logo.svg", alt="")

	form.login__form
		fieldgroup.login__fieldgroup.login__input--name
			input.login__input(type='text' placeholder='Name')
			svg.login__input-icon(viewbox='0 0 100 100')
				use(xlink:href='#icon_user')
		fieldgroup.login__fieldgroup.login__input--password
			input.login__input(type='text' placeholder='Password')
			svg.login__input-icon(viewbox='0 0 100 100')
				use(xlink:href='#icon_x')
		a(href='#').button.login__button Login