h3 Email notifications

input(type="checkbox" value="TRUE" name='dailyStatusRepor')
label(for="dailyStatusRepor") Daily Status Report
br
input(type="checkbox" value="TRUE" name="weeklyStatusReport")
label(for="weeklyStatusReport") Weekly Status Report
br
input(type="checkbox" value="TRUE" name='allTaskCompletions')
label(for='allTaskCompletions') All Task Completions
br
input(type="checkbox" value="TRUE" name='allTaskUpdates')
label(for='allTaskUpdates') All Task Updates
br
input(type="checkbox" value="TRUE" name='directMessages')
label(form='directMessages') Direct Messages