div
	div(ng-repeat='file in vm.files' )
		.box.solid-border.is-yellow(style='min-height: 12rem')
			
			.row.message
				.box__col2
					i.icon.box__icon.is-large
						<svg id="Layer_1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g fill="none" stroke="#fff" stroke-width="2" stroke-miterlimit="10"><path d="M79.7 96.9H20.3c-6 0-10.8-4.8-10.8-10.8V13.3c0-6 4.8-10.8 10.8-10.8h32.9c1.4 0 2.7.5 3.7 1.4l31.8 29.3c1.1 1 1.7 2.5 1.7 4v48.9c0 5.9-4.8 10.8-10.7 10.8z"/><path d="M55.4 2.5v21.6c0 6 4.8 10.8 10.8 10.8h22.9"/></g></svg>
				
				.box__col2(ng-class="{'is-editing': vm.editModes[file.file_id]}")
					.row.box__row(ng-class="{'is-editing': vm.editModes[file.file_id]}")
						p.box__title {{ file.name }}
						input.box__edit(ng-show='vm.editModes[file.file_id]' type='text' placeholder='File Name' ng-model='file.name')
						i.icon.box__edit-icon.box__edit-icon--save(ng-if='vm.editModes[file.file_id]' ng-click='vm.saveName(file)')
							svg(viewbox='0 0 100 100')
								use(xlink:href='#icon_check')
						i.icon.box__edit-icon.box__edit-icon--cancel(ng-if='vm.editModes[file.file_id]' ng-click='vm.cancelEdit(file)')
							svg(viewbox='0 0 100 100')
								use(xlink:href='#icon_x')
						i.icon.box__edit-icon.box__edit-icon--edit(ng-if='!vm.editModes[file.file_id]' ng-click='vm.editModes[file.file_id] = !vm.editModes[file.file_id]')
							svg(viewbox='0 0 100 100')
								use(xlink:href='#icon_edit')

					p.box__metadata.box__metadata-1 UPLOADED {{ file.created_at | date: 'longDate' }}
					p.box__metadata.box__metadata-2 {{ file.created_at | date: 'shortTime' }} by {{ file.user.first_name }} {{ file.user.last_name }}

			.task-box__tasks
				i.icon.box__icon(ng-click='vm.viewFile(file)')
					svg(viewbox='0 0 100 100')
						use(xlink:href='#icon_view')
				i.icon.box__icon(ng-click='vm.downloadFile(file)')
					svg(viewbox='0 0 100 100')
						use(xlink:href='#icon_download')
				i.icon.box__icon(ngf-select ngf-change="vm.replaceFile(file, $file)")
					svg(viewbox='0 0 100 100')
						use(xlink:href='#icon_upload')
				i.icon.box__icon(ng-click='vm.removeFile(file)')
					svg(viewbox='0 0 100 100')
						use(xlink:href='#icon_trash')

		.spacer

	.box.dotted-border(ng-if='vm.files.length == 0 || vm.allowMultiple' ngf-change="vm.onFilesDropped($files, $file, $event, $rejectedFiles)" style='min-height: 12rem' ngf-drop ngf-drag-over-class="dragover" ngf-multiple="vm.allowMultiple" ngf-allow-dir="false" ngf-accept="'image/*,application/pdf'")
		.box__center
			div.message
				p.box__title Drop File to Upload
		.task-box__tasks(ngf-select ngf-multiple="vm.allowMultiple" ngf-change="vm.uploadFile($files, $file, $rejectedFiles)")
			i.icon.box__icon
				svg(viewbox='0 0 100 100')
					use(xlink:href='#icon_upload')
			span.inline-block Upload




