jeet = {
  gutter: 3,
  parent-first: false,
  layout-direction: LTR,
  max-width: 1440px
}

rupture.scale = 0px 360px 540px 680px 720px 940px 1024px 1140px 1220px
// Numbers are      1     2     3     4     5     6      7      8
rupture.enable-em-breakpoints = true
rupture.base-font-size = 16px

// COLORS ///////////////////////////////////////

blue = #0E799C
mantle = #839793
rasberry = #7F2555
yellow = #EAAB22

deepblack  = #000000
black  = #3C3C3C
darkergray = #58585A
darkgray = #939598
gray = #D4D4D4
lightgray = #f1f2f2

linkedin = #0077b5

// FONTS ////////////////////////////////////////

f-light = AvenirNext-light, sans-serif;
f-lightit = AvenirNextCyr-LightItalic, sans-serif;
f-reg = AvenirNextLTPro-Regular, sans-serif;
f-med = AvenirNextLTPro-Medium, sans-serif;
f-bold = AvenirNextLTPro-Bold, sans-serif;
// f-regit = ProximaNova-LightIt, ProximaNova-Light, sans-serif;
// f-bold = ProximaNova-Bold, sans-serif;

t-greystone(type = all, time = 0.2s)
	transition type time ease-out