*
	-webkit-tap-highlight-color rgba(0,0,0,0)
	box-sizing inherit
	&:before,
	&:after
		box-sizing inherit
	&:focus
		outline none

html
	font-size 62.5%
	-webkit-font-smoothing initial
	font-smoothing initial
	// text-rendering optimizeLegibility
	font-smooth always
	-webkit-box-sizing border-box
	-moz-box-sizing border-box
	font-family f-light
	position relative
	// min-height 100%
	// height 100%
	font-size 12px
	+below(640px)
		font-size 10px
	
body
	-webkit-touch-callout none
	-webkit-text-size-adjust none
	// -webkit-user-select none
	color black
	// height 100%
	transition opacity 0.1s ease
	// padding px(40)
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-perspective: 1000;
	perspective: 1000;
	margin 0
	&.is-active
		opacity: 1 !important
	
img, svg, iframe, object, video
	width 100%
	display block
	
i
	display inline-block
	vertical-align middle
	font inherit

ul
	margin 0
	padding 0
	display: block
	-webkit-margin-before: 0
	-webkit-margin-after: 0
	-webkit-margin-start: 0
	-webkit-margin-end: 0
	-webkit-padding-start: 0
	li
		list-style none

.is-checked
	background-color yellow !important
	
.hidden
	position: absolute
	height: 0
	width: 0
	visibility: hidden

::-moz-selection
	background-color: blue
	color white

::selection
	background-color: blue
	color white

.solid-border
	border 1px solid gray
.dotted-border
	border 2px dashed gray

hr
	border none
	border-bottom 1px solid gray

.inline-block
	ilb()
	&.top
		ilb(top)

.comments
	// background-color rgba(rasberry,0.1)
	width 100%
	padding-bottom px(100rem)

.top-bar-chart
	position relative

.is-clickable
	cursor pointer
	
.fadein
	animation fadeIn 0.8s ease forwards

.h1__welcome-container
	height 100vh
	position relative
	text-align center
	h1.h1.fadein
		upcase()
		// position relative
		align(vertical)
		text-align center
		// top px(200rem)
		top 45%
		width 100%
		color gray
		fs(5rem)
		font-family f-bold