extends layouts/layout-primary

block content
	.row
		include modules/login-sidebar.jade
		main.main-main.login-hero
			//- video.hero-video(data-aload='http://www.istockphoto.com/video_passthrough/20782951/153/20782951.mp4' autoplay='autoplay' loop)
			.overlay
				.center
					h6.h6 Greystone
					h1.h1 Loan Tracker
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium consequatur, inventore expedita, nobis veritatis debitis cumque ut tempore beatae, repudiandae recusandae pariatur placeat iusto. Sunt id, deserunt.