@import url(http://fonts.googleapis.com/css?family=Roboto)

primaryColor = #0277BD
accentColor = #1DE9B6
bgColor = #efefef
darkBgColor = #263238
lightBgColor = #37474F

lightTextColor = #F5F5F5
darkTextColor = #212121

body
	height 100%
	font-family 'Roboto', sans-serif
	
.drop-box
	background #F8F8F8
	border 5px dashed #DDD
	width 170px
	height 170px
	text-align center
	padding-top 65px
	margin-left 10px
	margin-right auto
	margin-left auto
	margin-bottom 1rem