.box
	position relative
	font-family f-reg
	padding-top px(10rem)
	padding-bottom px(40rem)
	margin-bottom px(30rem)
	upcase()
	color darkgray
	border-color gray
	// background-color lightgray
	&.is-yellow
		border-color yellow
		color white
		background-color rgba(yellow)
	.alert-circle
		position absolute
		top px(-17/2)
		right px(-17/2)
	

.box__title
	fs(2rem)
	ilb()
.icon
	ilb()
	
.box__center
	text-align left
	
.box__col3
	col(1/3)
	&.is-center
		text-align center
	&.is-right
		text-align right
	

.box__icon
	size px(15rem)
	margin 0 px(6rem)
	color inherit
	&.is-large
		size px(40rem)
	&.is-yellow
		color white
	&.is-gray
		color gray
		
.box__icon--edit
	position absolute
	right px(25rem)
	size px(20rem)

.box__metadata
	font-family f-lightit
	
.box__metadata-1
	upcase()
	fs(1.1rem)

.box__metadata-2
	fs(1rem)
	// color gray
	