.main-header
	position relative
	text-align center

.main-header__section
	height inherit
	position absolute
	top 0
	bottom 0

.main-header__left
	width px(24)
	
.main-header__middle
	text-align center
	left px(24)
	right 0
	
.main-header__center
	align()
	width 100%

.main-header__right
	position absolute
	right 0
	top 0