.message
	padding 1rem 2rem
	fs(1.6rem)
	upcase()
	
.alert-circle
	border-radius 50%
	size px(17)
	fs(1.1rem)
	color white
	line-height 1
	font-family f-bold
	text-transform lowercase
	// border 1px solid white
	.center
		height px(8.5rem)
	&.is-purple
		background-color rasberry

.date_container
	height px(80rem)
	position relative
					
.date
	background-color white
	font-family f-reg
	color black
	padding 0.7rem 0.8rem
	ilb()
	align()
	fs(1.2rem)

.messages-info
	color blue
	font-family f-reg
	margin auto
	text-align center
	line-height 1
	display block
	background url(unquote('data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwIiB2aWV3Qm94PSIwIDAgMTAwIDEwIj48cGF0aCBmaWxsPSJub25lIiBzdHJva2U9IiNENEQ0RDMiIHN0cm9rZS1taXRlcmxpbWl0PSIxMCIgZD0iTTIwMi4yLjdILTEwMk0yMDIuMSA0LjhoLTMwNC4yTTIwMi4xIDkuMmgtMzA0LjIiLz48L3N2Zz4=')) repeat-x
	margin-bottom 30px
	width 100%
	span
		display inline-block
		background-color white
		width 150px
		line-height 1
	
	
	