.main-nav
	width 100%
	position absolute
	height 16px
	align(vertical)
	left 0
	
.nav-bar
	margin auto
	height 1px
	background-color black
	position absolute
	left 0
	right 0
.nav-bar--top
	top 0
.nav-bar--center
	top 0
	bottom 0
	// left auto
.nav-bar--bottom
	bottom 0