// .notifications
// 	&:after
// 		content ''
// 		display block
// 		background-color gray
// 		height 1px
// 		width 100%
// 		transform rotate(90deg)
// 		transform-origin 0% 0%
// 		top px(165rem)
// 		// bottom px(220rem)
// 		left px(22rem)
// 		position absolute
// 		z-index -1