.span-dropdown__container
	line-height 1.1
	
.span-dropdown
	border-bottom 1px solid blue
	ilb()
	color blue

.span-dropdown__icon
	color blue
	size px(10rem)
	transform-origin 50% 50%
	transform rotate(90deg)
	margin-left px(5rem)