.overlay.global-overlay
.modal
	.is-right
		svg(viewbox='0 0 100 100')
			use(xlink:href='#icon_x')
	h5.h5 Are you sure you want to delete this file?
	hr.modal__hr
	p.modal__p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi quidem optio explicabo veniam sunt eaque accusantium voluptas doloremque fugit porro, magni sapiente ipsam, aperiam, esse et cum, tempora. Eligendi, dicta!
	a.button Delete file
	a.button.button--ghost Cancel