nav.navbar.navbar-default.navbar-fixed-top(style="text-align: center;")
	div.container
		p.navbar-text Sign Up

div.container-fluid(style='padding-bottom: 70px; padding-top: 70px;')
	div.row
		div.col-md-12
			form(name='vm.signUpForm' novalidate)
				div.form-group
					label(for="firstName") First Name
					input.form-control(type="text" id="firstName" name="firstName" placeholder="First Name" ng-model="vm.userModel.first_name" required)
					div(ng-messages='vm.signUpForm.firstName.$error', ng-if='vm.signUpForm.firstName.$dirty || vm.signUpForm.$submitted')
						em.error-message(ng-message='required') First Name is Required
				div.form-group
					label(for="lastName") Last Name
					input.form-control(type="text" id="lastName" name="lastName" placeholder="Last Name" ng-model="vm.userModel.last_name" required)
					div(ng-messages='vm.signUpForm.lastName.$error', ng-if='vm.signUpForm.lastName.$dirty || vm.signUpForm.$submitted')
						em.error-message(ng-message='required') Last Name is Required
				div.form-group
					label(for="email") Email address
					input.form-control(type="email" id="email" name="email" placeholder="Email" ng-model="vm.userModel.email" required)
					div(ng-messages='vm.signUpForm.email.$error', ng-if='vm.signUpForm.email.$dirty || vm.signUpForm.$submitted')
						em.error-message(ng-message='required') Email is Required
						em.error-message(ng-message='email') Must be a valid email
				div.form-group
					label(for="password") Password
					input.form-control(type="password" id="password" name="password" placeholder="Password" ng-model="vm.userModel.password" required)
					div(ng-messages='vm.signUpForm.password.$error', ng-if='vm.signUpForm.password.$dirty || vm.signUpForm.$submitted')
						em.error-message(ng-message='required') Password is Required
				
				button.btn.btn-default(ng-click="vm.submit()") Sign Up
