h1 Login

button(type="button" ui-sref="signUp") Sign Up

form(name='vm.loginForm' novalidate)
	div
		label(for="email") Email address
		input(type="email" id="email" name="email" placeholder="Email" ng-model="vm.email" required)
		div(ng-messages='vm.loginForm.email.$error', ng-if='vm.loginForm.email.$dirty || vm.loginForm.$submitted')
			em.error-message(ng-message='required') Email is Required
			em.error-message(ng-message='email') Must be a valid email
	div
		label(for="password") Password
		input(type="password" id="password" name="password" placeholder="Password" ng-model="vm.password" required)
		div(ng-messages='vm.loginForm.password.$error', ng-if='vm.loginForm.password.$dirty || vm.loginForm.$submitted')
			em.error-message(ng-message='required') Password is Required
	
	button(ng-click="vm.login()") Login
