.row
	aside.main-sidebar
		img.logo(src="app/svg/background-logo.svg", alt="")

		form.login__form(name='vm.loginForm' novalidate)
			
			fieldgroup.login__fieldgroup.login__input--name
				input.login__input(type="email" id="email" name="email" placeholder="Email" ng-model="vm.email" required)
				svg.login__input-icon(viewbox='0 0 100 100')
					use(xlink:href='#icon_user')
			
			fieldgroup.login__fieldgroup.login__input--password
				input.login__input(type="password" id="password" name="password" placeholder="Password" ng-model="vm.password" required)
				svg.login__input-icon(viewbox='0 0 100 100')
					use(xlink:href='#icon_lock')
			a.button.login__button(ng-click="vm.login()") Login
		
		.sidebar-list__container(ng-show='vm.errorMessage')
			p.form-error {{ vm.errorMessage }}
	
	main.main-main.login-hero
		.overlay
			.center
				h6.h6 Greystone
				h1.h1 Loan Tracker
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium consequatur, inventore expedita, nobis veritatis debitis cumque ut tempore beatae, repudiandae recusandae pariatur placeat iusto. Sunt id, deserunt.
