<form name='vm.task4' novalidate>
    <div class="form-group">
        <label class="control-label" for="field1">Field 1</label>
        <input name='field1' id='field1' type="text" class="form-control" placeholder="Field 1" ng-model='vm.data.field1' required ng-maxlength="30" ng-minlength="5">
        <div ng-messages='vm.task4.field1.$error' , ng-if='vm.task4.field1.$dirty || vm.task4.$submitted'>
            <em ng-message='required' class='help-block error-message'>Field 1 is required</em>
            <em ng-message='minlength' class='help-block error-message'>Field 1 too short</em>
            <em ng-message='maxlength' class='help-block error-message'>Field 1 too long</em>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label" for="field2">Field 2</label>
        <input name='field2' type="text" class="form-control" id="field2" placeholder="Field 2" ng-model='vm.data.field2' required ng-maxlength="30" ng-minlength="5">
        <div ng-messages='vm.task4.field2.$error' , ng-if='vm.task4.field2.$dirty || vm.task4.$submitted'>
            <em ng-message='required' class='help-block error-message'>Field 2 is required</em>
            <em ng-message='minlength' class='help-block error-message'>Field 2 too short</em>
            <em ng-message='maxlength' class='help-block error-message'>Field 2 too long</em>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label">Field 3</label>
        <div class="radio">
            <label>
                <input type="radio" ng-model='vm.data.field3' name="inlineRadioOptions" id="inlineRadio1" value="option1"> Option 1
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" ng-model='vm.data.field3' name="inlineRadioOptions" id="inlineRadio2" value="option2"> Option 2
            </label>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label">Field 4</label>
        <div class="checkbox">
            <label>
                <input ng-model='vm.data.checkbox1' ng-true-value="'YES'" ng-false-value="'NO'" type="checkbox"> Checkbox 1
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input ng-model='vm.data.checkbox2' ng-true-value="'YES'" ng-false-value="'NO'" type="checkbox"> Checkbox 2
            </label>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label" for="textarea1">Field 5</label>
        <textarea id='textarea1' ng-model='vm.data.field5' class="form-control" rows="3"></textarea>
    </div>
    <div class="form-group">
        <label class="control-label" for="exampleInputFile">File 1</label>
        <input type="file" id="exampleInputFile">
    </div>
    <button type="submit" class="btn btn-default" ng-click="vm.update()">Update</button>
    <button class="btn btn-default" ng-click="vm.undo()">Undo</button>
</form>
