.row.comments
	.container
		.spacer
		.spacer
		h5.h5 Communication
		.spacer
		.messages-info(ng-click='vm.loadMoreMessages()')
			span 28 Older Messages
		div(ng-repeat="(date, events) in vm.eventsByDate")
			.date_container
				.date {{ date }}
			.notifications
				div(ng-repeat='event in events track by event.event_id')
					user-notification(event='event')
				
		.user-notification.is-comment-box
			.profile-pic
			.user-notification__box
				textarea#textarea.user-notification__textarea(ng-model='vm.newMessage' placeholder='Type Message Here' rows='1')
				i.icon.comment-box__submit(ng-click='vm.submitMessage()')
					svg(viewbox='0 0 100 100')
						use(xlink:href='#icon_arrow')
