.message
	padding 1rem 2rem
	fs(1.6rem)
	text-transform uppercase
	
.alert-circle
	border-radius 50%
	size px(20rem)
	fs(1.1rem)
	color white
	line-height 1
	font-family f-bold
	text-transform lowercase
	cursor pointer
	// border 1px solid white
	.center
		height px(8.5rem)
	&.is-purple
		color rasberry
		background-color white

.date_container
	height px(80rem)
	position relative
					
.date
	background-color white
	font-family f-reg
	color black
	padding 0.7rem 0.8rem
	ilb()
	align()
	fs(1.2rem)

.messages-info
	color blue
	font-family f-reg
	margin auto
	text-align center
	line-height 1
	display block
	background url(unquote('../svg/triple-hr.svg')) repeat-x
	margin-bottom 30px
	width 100%
	cursor pointer
	transition t-greystone1
	&:hover
		color darken(blue,20%)
	span
		display inline-block
		background-color white
		width 150px
		line-height 1
	
	
	