.hero-video
	@extends $absolute-cover
	object-fit cover
	height 100vh
.overlay
	@extends $absolute-cover
	// background-color rgba(darken(mantle,50%), 0.8)
	// background-color rgba(lighten(mantle,50%), 0.9)
	background-color rgba(deepblack, 0.6)

body.login-page
	background url(../assets/img/login-hero4.jpg) no-repeat
	background-size cover
	background-position 50% 50%
	.main-sidebar
		background-color rgba(black,0.7) !important
		&:before
			background-color rgba(black,0.7) !important

.login-hero
	height 100vh
	color white
	text-align center
	.center
		top 40%
	.h1
		text-align center
		font-family f-med
		text-transform uppercase
		fs(6rem)
		width 100%
		white-space nowrap
		padding-bottom px(10rem)
		color yellow
	.h6
		text-transform uppercase
		text-align center
		font-family f-reg
		fs(2.2rem)
	p
		display inline-block
		width px(360rem)
		align(horizontal)
		fs(1.75rem)
		text-align center
		font-family f-light
		+below(400px)
			fs(1.6rem)
			width px(310rem)
		
.login__form
	margin-top px(50rem)
	position relative
	
input.login__input
	border-bottom 1px solid darkgray
	background-color transparent
	color gray
	fs(1.8rem)
	padding-left px(35rem)
	transform translateX(0)
	fs(1.6rem)
	padding-bottom px(5rem)
	&.has-error
		animation wiggle 0.2s linear 3
		border-bottom 1px solid rasberry
	&:placeholder
		color darkgray

.login__fieldgroup
	height px(70rem)
	margin 0 auto
	width 70%
	display block
	
.login__input
	background-color darkgray
	width 100%
	&:focus
		+ .login__input-icon
			left 2%
			color white
	
.login__input-icon
	size px(15rem)
	position absolute
	top px(3.5rem)
	bottom 0
	left 1%
	transition t-greystone1
	color darkgray
	
.form-error
	text-align center
	padding-top px(2rem)
	font-family f-reg
	fs(1.4rem)
	text-rendering optimizeLegibility
	-webkit-font-smoothing antialiased
	font-smoothing antialiased