.overlay.global-overlay
	background-color rgba(deepblack,0.8)
	z-index 888

.modal
	background-color white
	align()
	height px(260rem)
	width px(600rem)
	z-index 999
	max-width 90%
	max-height 90%
	padding px(50rem) px(50rem)
	.modal__p
		font-family f-reg
		color darkergray
	.modal__hr
		margin-bottom px(20rem)
	.is-right
		size px(20rem)
		position absolute
		right px(25rem)
		top px(20rem)
		color darkergray
	.button
		position absolute
		bottom px(40rem)
		background-color blue
		color white
		&.button--ghost
			background-color white
			left px(160rem)
			color blue