.main-main
	span(7/10)
	position relative
	height 100vh
	// overflow-x hidden
	// overflow-y scroll
	
	.container
		max-width px(768rem)
		// +below(1700px)
		// 	margin-right 10%
		// 	padding-left 10%
		// +below(1200px)
		// 	width 100%
		// 	margin 0
		// +below(1700px)
		// 	width 60%
	+below(1700px)
		span(6/10)
		float right
		padding-left 8%
		padding-right 3%
	// +below(1200px)
// .main-sidebar__underlay
// 	@extend $absolute-cover
// 	background-color black
// 	right px(22.8rem)
// 	z-index 0
.main-sidebar
	span(3/10)
	// min-width 320px
	min-height 100vh
	top 0
	bottom 0
	// height 100vh
	// height 100%
	background-color black
	// padding-right px(22.8rem)
	color gray
	// overflow-x visible
	// overflow-y scroll
	padding-bottom px(70rem)
	+below(1700px)
		span(4/10)
	// +below(1200px)
	// 	span(4/10)
	.h1
		text-transform uppercase
	hr
		border-bottom 1px solid rgb(70,70,70)
		margin-bottom 0
		padding-bottom 0
	.button
		background-color darkgray
		transition t-greystone1
		color white
		align(horizontal)
		display inline-block
		&:hover
			background-color blue
	.messages-info
		background url(unquote('../svg/triple-hr--dark.svg')) repeat-x
		margin-top px(30rem)
		padding-bottom px(10rem)
		&:hover
			color white
		span
			background-color black
	.sidebar-list__item
		text-rendering optimizeLegibility
		-webkit-font-smoothing antialiased
		font-smoothing antialiased
	.h2
		color mantle
	// &:before
	// 	content: ''
	// 	position: fixed
	// 	top: 0
	// 	left 0
	// 	bottom: -100%
	// 	z-index: -1
	// 	background-color black
	// 	// height 100%
	// 	width inherit
	// 	display block
	
		
	
// .sidebar-container
// 	margin-left 8%
// 	margin-right 8%
// 	padding 2% 5%

.sidebar-list__container
	margin-top px(40rem)
	position relative
	.h6
		padding-left 14%
	.is-right
		position absolute
		right 6%
		top 0
		bottom 0
		margin auto
		color darkgray
		transition 0.2s ease
		cursor pointer
		text-transform capitalize
		font-family f-light
		height px(10rem)
		transition t-greystone1
		svg
			size px(10rem)
			margin-right px(5rem)
			transition t-greystone1
		&:hover
			color blue
			svg
				color white
	p.is-right
		height auto
		opacity 1 !important
			

.sidebar-list
	color white
	&.is-completed
		color darkgray
		.sidebar-list__item__indicator
			opacity 1
			border 2px solid mantle
			background-color mantle
			color white
			svg
				size px(14rem)
				position absolute
				top 0
				bottom 0
				left 0
				right 0
				margin auto
			// 	top px(-5rem)
			// 	left px(2rem)
			// background mantle url(unquote('data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2aWV3Qm94PSIwIDAgMTAwIDEwMCI+PHBhdGggZmlsbD0ibm9uZSIgc3Ryb2tlPSJ3aGl0ZSIgc3Ryb2tlLXdpZHRoPSI0IiBzdHJva2UtbWl0ZXJsaW1pdD0iMTAiIGQ9Ik0yLjQgNTBsMzEuOCAzMS44IDYzLjYtNjMuNiIvPjwvc3ZnPg==')) no-repeat
			// background-size 65%
			// background-position 50% 50%
		.sidebar-small
			color darkgray
	&.is-pending
		.sidebar-list__item__indicator
			border 2px solid gray
			background-color gray

.sidebar-list__item
	padding 0 14%
	height px(46rem)
	margin 0
	position relative
	// background-color rgba(deepblack,0.1)
	fs(1.3rem)
	line-height 1
	text-transform uppercase
	font-family f-reg
	transition 0.3s ease
	.is-right
		opacity 0
	.sidebar-small
		line-height 1.5
		display block
		font-family f-lightit
	.alert-circle
		position absolute
		right 6%
		top 0
		bottom 0
		margin auto
	&.is-active
		.is-right
			color gray
		&:before
			content ''
			position absolute
			right px(-22.8rem)
			top 0
		
	&.is-gray
		background-color darkergray
		color white
		.sidebar-small
			color white
		&:before
			content ''
			triangle: 'right' px(24rem) darkergray
	&:hover
		&:not(.is-active)
			background-color rgba(deepblack,0.1)
			transition 0.3s ease
		.is-right
			opacity 1
	
.sidebar-list__center
	align(vertical)
	text-align left
	padding-right px(30rem)
	width 70%
	small em
		overflow hidden
		white-space nowrap
		display block
		
.sidebar-list__item__overflow-container
	overflow hidden
	white-space nowrap
	display block
	text-overflow ellipsis
			
		
.sidebar-list__item__indicator
	display inline-block
	border-radius 50%
	border 2px solid yellow
	background-color yellow
	size px(20rem)
	position absolute
	left px(-30rem)
	top 0
	bottom 0
	margin auto
	
.main-chart
	width 65%
	margin px(25rem) auto px(20rem) auto
	// +below(1700px)
	// 	width 88%
	// +below(1200px)
	width 100%
.main-sidebar
	.logo
		max-width 60%
		margin auto

.sidebar__bottom-controls
	position fixed
	bottom 0
	height px(38rem)
	background-color rgba(lighten(deepblack,20%),1)
	width 30%
	+below(1700px)
		width 40%
	a:not(.button)
		color darkgray
		fs(1.3rem)
		position absolute
		top 0
		bottom 0
		margin auto
		right 0
		height px(14rem)
		&.control__left
			right px(110rem)
		&.control__right
			right px(20rem)
	.button
		position absolute
		left 0
		transform none
		background-color rgba(darkergray,0.2)
		color darkgray