aside.main-sidebar
	.main-sidebar__underlay

	.spacer
	//- .spacer
	header.main-header
		h1.h1 {{ vm.project.name }}
		//- figure(ng-click='vm.changeMilestone()')
		//- 	img.main-chart(src="app/svg/chart.svg", alt="")
		h2.h2.is-clickable(ng-click='vm.changeMilestone()') {{ vm.milestone.name }}
	section
		.sidebar-container
			.sidebar-list__container(ng-hide='vm.tasksRecentlyCompleted.length == 0')
				h6.h6 Recently Completed
				p.is-right.is-clickable(ng-click='vm.dismissAll()') Dismiss All
				hr
				ul.sidebar-list.is-completed
					div(ng-repeat='notification in vm.tasksRecentlyCompleted' ng-click="vm.selectTask(notification.task)")
						//- hide class on active? go to task from here?
						task-row.is-clickable(task='notification.task' show-dismiss="true")
			.sidebar-list__container(ng-hide='vm.tasksAssignedToMe.length == 0')
				h6.h6 Assigned to You
				hr
				ul.sidebar-list
					div(ng-repeat='task in vm.tasksAssignedToMe track by task.task_id | limitTo : vm.assignedToMeLimit' ng-click="vm.selectTask(task)")
						task-row.is-clickable(task='task' show-alert="true")
				.messages-info(ng-if='vm.tasksAssignedToMe.length > 7' ng-hide='vm.tasksAssignedToMe.length == vm.assignedToMeLimit' ng-click='vm.assignedToMeLimit = vm.tasksAssignedToMe.length')
					span {{ vm.tasksAssignedToMe.length - 7 }} Additional Tasks
			
			.sidebar-list__container(ng-hide='vm.activeTasks.length == 0')
				h6.h6 Open Tasks
				hr
				ul.sidebar-list.is-pending
					div(ng-repeat='task in vm.activeTasks track by task.task_id | limitTo : vm.activeLimit' ng-click="vm.selectTask(task)")
						task-row.is-clickable(task='task' show-alert="true")
				.messages-info(ng-if='vm.activeTasks.length > 7' ng-hide='vm.activeTasks.length == vm.activeLimit' ng-click='vm.activeLimit = vm.activeTasks.length')
					span {{ vm.activeTasks.length - 7 }} Additional Tasks

			.sidebar-list__container(ng-hide='vm.completedTasks.length == 0')
				h6.h6 Completed Tasks
				hr
				ul.sidebar-list.is-pending
					div(ng-repeat='task in vm.completedTasks track by task.task_id | limitTo : vm.completedLimit' ng-click="vm.selectTask(task)")
						task-row.is-clickable(task='task' show-alert="true")
				.messages-info(ng-if='vm.completedTasks.length > 7' ng-hide='vm.completedTasks.length == vm.completedLimit' ng-click='vm.completedLimit = vm.completedTasks.length')
					span {{ vm.completedTasks.length - 7 }} Additional Tasks

	.sidebar__bottom-controls
		a.button(ng-click="vm.logout()") Logout
