aside.main-sidebar
	.spacer
	.spacer

	header.main-header
		h1.h1 {{ vm.project.name }}
		figure(ng-click='vm.changeMilestone()')
			img.main-chart(src="app/svg/chart.svg", alt="")
		h2.h2 {{ vm.milestone.name }}
	section
		.sidebar-container
			.sidebar-list__container
				h6.h6 Recently Completed
				p.is-right(ng-click='vm.dismissAll()') Dismiss All
				hr
				ul.sidebar-list.is-completed
					div(ng-repeat='task in vm.tasksRecentlyCompleted track by task.task_id' ng-click="vm.selectTask(task)")
						task-row(task='task' show-dismiss="true")
			.sidebar-list__container
				h6.h6 Assigned to You
				hr
				ul.sidebar-list
					div(ng-repeat='task in vm.tasksAssignedToMe track by task.task_id | limitTo : vm.assignedToMeLimit' ng-click="vm.selectTask(task)")
						task-row(task='task' show-alert="true")
				.messages-info(ng-if='vm.tasksAssignedToMe.length > 7' ng-hide='vm.tasksAssignedToMe.length == vm.assignedToMeLimit' ng-click='vm.assignedToMeLimit = vm.tasksAssignedToMe.length')
					span {{ vm.tasksAssignedToMe.length - 7 }} Additional Tasks
			.sidebar-list__container
				h6.h6 Other Tasks
				hr
				ul.sidebar-list.is-pending
					div(ng-repeat='task in vm.otherTasks track by task.task_id | limitTo : vm.otherLimit' ng-click="vm.selectTask(task)")
						task-row(task='task')
				.messages-info(ng-if='vm.otherTasks.length > 7' ng-hide='vm.otherTasks.length == vm.otherLimit' ng-click='vm.otherLimit = vm.otherTasks.length')
					span {{ vm.otherTasks.length - 7 }} Additional Tasks